<!DOCTYPE html>
<html>
<head>
    <title>Interview Invitation</title>
</head>
<body>
    <p>Dear {{ name }},</p>
    <p>
        Following up on your application for the <strong>{{ role }}</strong> position, we would like to invite you for an interview.
    </p>
    <p>
        <strong>Interview Type:</strong> {{ interview_type }}<br>
        <strong>Date & Time:</strong> {{ interview_date }}
    </p>
    <p>
        Please find a calendar invitation attached to this email. Let us know if this time is unsuitable.
    </p>
    <p>
        We look forward to speaking with you!<br>
        Sincerely,<br>
        The Recruitment Team
    </p>
</body>
</html>